from pydantic import BaseModel, EmailStr, Field
from datetime import datetime
from typing import Optional

class {{ spec.feature.name|capitalize }}In(BaseModel):
    name: str = Field(..., max_length=120)
    email: EmailStr
    status: Optional[str] = "active"

class {{ spec.feature.name|capitalize }}Out({{ spec.feature.name|capitalize }}In):
    id: str
    created_at: datetime
    updated_at: datetime
